{% extends "base.html" %}
{% block content %}

    {% if loans %}
    <h2>All loans</h2>
    <table class="loan-history">
        <thead>
            <tr>
                <th>Loan ID</th>
                <th>Student ID</th>
                <th>Device ID</th>
                <th>Borrow Date & Time</th>
                <th>Due Date & Time</th>
                <th>Return Date & Time</th>
                <th>Fine</th>
            </tr>

        </thead>

        <tbody>
            {% for loan in loans %}
                <tr>

                <td>{{ loan.loan_id }}</td>
                <td>{{ loan.student_id }}</td>
                <td>{{ loan.device_id }}</td>
                <td>{{ loan.borrowdatetime }}</td>
                <td>{{ loan.duedatetime }}</td>
                <td>{{ loan.returndatetime }}</td>
                <td>{{ loan.fine }}</td>


                </tr>
        {% endfor %}
    </tbody>
    </table>

    {% else %}
    <h2>There are no loan records</h2>
    {% endif %}

    <style>
    .loan-history {
        width: 100%;
        border-collapse: collapse;
    }

    .loan-history th,
    .loan-history td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .loan-history th {
        background-color: #f2f2f2;
    }
</style>

{% endblock %}