{% extends "base.html" %}

{% block content %}
<h2>Search for books by title, author or genre</h2>
    <form method="POST" action="" novalidate>
    {{ form.hidden_tag() }}
    <div>
        {{ form.title.label }}<br/>{{ form.title(size=30) }}<br/>
        {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>

        <div>
        {{ form.author.label }}<br/>{{ form.author(size=30) }}<br/>
        {% for error in form.author.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>

        <div>
        {{ form.genre.label }}<br/>{{ form.genre(size=30) }}<br/>
        {% for error in form.genre.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>

    <div>{{ form.submit() }}</div>
</form>

    {% if books %}
    <h2>Search Results"</h2>
    <table class="student-information">
        <thead>
            <tr>
                <th>Book ID</th>
                <th>Book Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Copies Available</th>

            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.book_id }}</td>
                <td>{{ book.book_title }}</td>
                <td>{{ book.author_firstname }} {{ book.author_lastname }}</td>
                <td>{{ book.genre }}</td>
                <td>{{ book.quantity }}</td>

                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
{% elif not books and request.method == 'POST' %}
    <p>No results found.</p>
{% endif %}

<style>
.student-information {
    width: 100%;
    border-collapse: collapse;
}

.student-information th,
.student-information td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.student-information th {
    background-color: #f2f2f2;
}
</style>

{% endblock %}

